<ion-view title="Create" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="create-form1" class="list ">
            <form id="create-form2" class="list ">
                <label class="item item-input " id="create-input2">
                    <span class="input-label">Phone</span>
                    <input type="tel" placeholder="Phone #">
                </label>
                <label class="item item-input " id="create-input1" name="amount">
                    <span class="input-label">Amount</span>
                    <input type="number" placeholder="$">
                </label>
            </form>
        </form>
        <button id="create-button1" class=" button button-positive  button-block ">Create</button>
        <div class="spacer" style="height: 100px;"></div>
        <ion-list id="create-list2" class=" ">
            <ion-item id="create-list-item4" class="  ">$50
                <span class="item-note">(832)123-4567</span>
            </ion-item>
            <ion-item id="create-list-item5" class="  ">$50
                <span class="item-note">(123) 234-3424</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>