<ion-view title="Validate" id="page4" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="validate-form3" class="list ">
            <label class="item item-input " id="validate-input3">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="Phone #">
            </label>
            <label class="item item-input " id="validate-input4">
                <span class="input-label">Amount</span>
                <input type="number" placeholder="$">
            </label>
        </form>
        <button id="validate-button2" class=" button button-positive  button-block ">Validate</button>
    </ion-content>
</ion-view>